*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

webstat
cgi-bin

*.DS_Store

data/www/enjoy-lesbian-es.net/*.log
data/www/enjoy-lesbian-es.net/wp-config.php
data/www/enjoy-lesbian-es.net/wp-content/advanced-cache.php
data/www/enjoy-lesbian-es.net/wp-content/backup-db/
data/www/enjoy-lesbian-es.net/wp-content/backups/
data/www/enjoy-lesbian-es.net/wp-content/blogs.dir/
data/www/enjoy-lesbian-es.net/wp-content/cache/
data/www/enjoy-lesbian-es.net/wp-content/upgrade/
data/www/enjoy-lesbian-es.net/wp-content/uploads/
data/www/enjoy-lesbian-es.net/wp-content/wp-cache-config.php
data/www/enjoy-lesbian-es.net/wp-content/plugins/hello.php

/data/www/enjoy-lesbian-es.net/.htaccess
/data/www/enjoy-lesbian-es.net/license.txt
/data/www/enjoy-lesbian-es.net/readme.html
/data/www/enjoy-lesbian-es.net/sitemap.xml
/data/www/enjoy-lesbian-es.net/sitemap.xml.gz

data/www/enjoy-lesbian-es.net/webstat
data/www/enjoy-lesbian-es.net/cgi-bin

data/www/enjoy-lesbian-es.net/*.DS_Store

data/email
data/etc
data/logs
data/mod-tmp
