*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

webstat
cgi-bin

*.DS_Store

enjoy-lesbian-es.net/*.log
enjoy-lesbian-es.net/wp-config.php
enjoy-lesbian-es.net/wp-content/advanced-cache.php
enjoy-lesbian-es.net/wp-content/backup-db/
enjoy-lesbian-es.net/wp-content/backups/
enjoy-lesbian-es.net/wp-content/blogs.dir/
enjoy-lesbian-es.net/wp-content/cache/
enjoy-lesbian-es.net/wp-content/upgrade/
enjoy-lesbian-es.net/wp-content/uploads/
enjoy-lesbian-es.net/wp-content/wp-cache-config.php
enjoy-lesbian-es.net/wp-content/plugins/hello.php

/enjoy-lesbian-es.net/.htaccess
/enjoy-lesbian-es.net/license.txt
/enjoy-lesbian-es.net/readme.html
/enjoy-lesbian-es.net/sitemap.xml
/enjoy-lesbian-es.net/sitemap.xml.gz

enjoy-lesbian-es.net/webstat
enjoy-lesbian-es.net/cgi-bin

enjoy-lesbian-es.net/*.DS_Store
